body {
    text-align: center;

}

#new_game {
    border: 1px solid gray;
    border-radius: 3px;
    width: 200px;
    height: 50px;
    font-size: 12px;
    text-align: center;
    background-color: #CCCCCC;
}

#new_game:hover{
    background-color: #999999;
    cursor: pointer;
}

#timer{
    width: 200px;
    height: 50px;
    font-size: 12px;
    text-align: center;
}

#game {

}

.time-passed{

}

#controls{
    text-align: center;
}

.bomb_input{
    margin-right: 50px;
}

.footer{
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.header{
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

#bombs_remaining {
    margin-right: 100px;

}
span{
    margin-right: 20px;
}

canvas {  }